.appName {
    display: flex;
    width: 207px;
    height: 53px;
    padding: 18px 0px 0px 51px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}
.textappName {
    width: 184px;
    height: 35px;
    flex-shrink: 0;
    color: #D06B6B;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}